In [1]:
train_file_path = r"E:\MStudy material\iTech\iNeuron\Projects\ML projects\Machine_Learning_Project_01\housing\artifact\data_ingestion\2022-08-28-11-35-55\ingested_data\train\housing.csv"

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(train_file_path)

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [7]:
df.shape

(16512, 10)

In [8]:
df["median_house_value"] # Our target coloumn from schema.yaml file

0         72100.0
1        279600.0
2         82700.0
3        112500.0
4        238300.0
           ...
16507    268500.0
16508     90400.0
16509    140400.0
16510    258100.0
16511     62700.0
Name: median_house_value, Length: 16512, dtype: float64

In [11]:
x,y = df.drop(columns=["median_house_value"], axis = 1) , df[["median_house_value"]]

In [12]:
x.shape

(16512, 9)

In [13]:
y.shape

(16512, 1)

In [14]:
x.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [16]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16354 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   ocean_proximity     16512 non-null  object
dtypes: float64(8), object(1)
memory usage: 1.1+ MB

In [15]:
from sklearn.impute import SimpleImputer

In [45]:

numerical_columns = x.drop(columns=['ocean_proximity'], axis = 1)

In [19]:
simple_imputer = SimpleImputer(strategy="median")

In [20]:
simple_imputer.fit_transform(numerical_columns)

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [21]:
simple_imputer.transform(numerical_columns)

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [22]:
simple_imputer.feature_names_in_

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype=object)

In [24]:
simple_imputer.statistics_  #It will give all the strategy values here median we havea used

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [25]:
x.longitude.median()

-118.51

In [27]:
x.ocean_proximity.value_counts()

<1H OCEAN     7277
INLAND        5262
NEAR OCEAN    2124
NEAR BAY      1847
ISLAND           2
Name: ocean_proximity, dtype: int64

In [29]:
simple_imputer = SimpleImputer(strategy="most_frequent")

In [38]:
# Creating our custom transformer
# Template :
class TestGenerator1():


    def __init__(self, strategy = "median"):
        self.strategy = strategy

    def fit(self,X):
        self.features = X.columns
        self.statistic_ = []
        for column in X.columns:
            self.statistic_.append(X[column].median())
        return self    
            



    def transform(self,X:pd.DataFrame):
        for idx, column in enumerate(X.columns):
            X[column].fillna(self.statistic_[idx])
            return X
            

        

    def fit_transform(self,X):
        self.fit(X)
        self.transform(X)

In [40]:
response1 = TestGenerator1().fit(numerical_columns)

In [41]:
response1.statistic_

[-118.51, 34.26, 29.0, 2119.0, 433.0, 1164.0, 408.0, 3.54155]

In [33]:
from sklearn.base import BaseEstimator,TransformerMixin

In [42]:
#Instead of fit_transform we can also use TransformerMixin from sklearn.base 
class TestGenerator(BaseEstimator,TransformerMixin):


    def __init__(self, strategy = "median"):
        self.strategy = strategy

    def fit(self,X):
        self.features = X.columns
        self.statistic_ = []
        for column in X.columns:
            self.statistic_.append(X[column].median())
        return self    
            



    def transform(self,X:pd.DataFrame):
        for idx, column in enumerate(X.columns):
            X[column].fillna(self.statistic_[idx])
            return X

In [43]:
response = TestGenerator().fit(numerical_columns)

In [44]:
response.statistic_

[-118.51, 34.26, 29.0, 2119.0, 433.0, 1164.0, 408.0, 3.54155]

In [47]:
for idx,column in enumerate(x.columns):
    print(idx,column)

0 longitude
1 latitude
2 housing_median_age
3 total_rooms
4 total_bedrooms
5 population
6 households
7 median_income
8 ocean_proximity